;; shadow-cljs configuration
{:source-paths ["src/dev"
                "src/main"
                "src/test"]

 :dependencies [[reagent "1.1.0"]
                ;; lein or boot
                [applied-science/js-interop  "0.3.1"]]

 :dev-http     {8080 "public"}

 :builds       {:app {:asset-path "/js"
                      :output-dir "public/js"
                      :target  :browser
                      :modules {:main {:init-fn mecca-wav.app/init}}}}}
